.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.aider*
.env
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
